/* Footer */
/* .footer {
    position: relative; 
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(33, 53, 71, 0.5); 
    margin-top: 50px;
}

.footer p {
    color: white;
    background-color: transparent;
} */