body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebf1f7;
    height: 100%;
    width: 100%;
}
.log {
    color: #213547;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.reg {
    color: #213547;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:whitesmoke ;
    width: 400px;
    height: 500px;
    padding: 20px;
    border-radius: 7px ;
    box-shadow: 0 4px 8px rgba(13, 132, 231, 0.4);
}

button {
    background-color: #007bff;
    color: white;
    width: 200px;
    height: 40px;
    margin-top: 20px;
}
button:hover {
    background-color: #085bb4;

}

input {
    border: 1px solid #a8ccf1;
    width: 300px;
    height: 40px;
    border-radius: 7px;
    padding: 4px;
    background-color: white;
    color: black;
}
input::placeholder {
    color: rgb(164, 145, 145);
}
select {
    border: 1px solid #a8ccf1;
    width: 200px;
    height: 30px;
    border-radius: 7px;
    background-color: whitesmoke;
    color: black;
}
.selecteRole {
    display: flex;
    height: 10px;
    color: #0c0091;
}
.role {
    margin-left: 5px;
    color: #0c0091;
}